{% extends "layout.html" %}


{% block body %}

  <div class="row sign-up-home text-center">
    <div class="col-xs-12">
        <h4 class="light editable welcome_text" id="start">
          Use the sentiment driven tool to rate individual food items on a menu.
        </h4>
        <h4 class="editable welcome_text" id="coaches">
          Just type the restaurant, food, and city &mdash; an overall score will be provided.
        </h4>
      </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 col-sm-6">
            <a class="btn btn-primary btn-lg" href="\search" role="button">Search Food Item</a>
    </div>
  </div>


{% endblock%}


{% block ender %}


{% endblock %}

